/* Reseta margens e preenchimentos, define box-sizing e fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

/* Estilo geral do corpo da página */
body {
    background-color: rgb(0, 0, 0);
    /* Cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Centraliza verticalmente */
}

/* Estilo do contêiner principal */
.conteundo {
    width: 375px;
    background-color: #007a37;
    /* Cor de fundo */
    border-radius: 25px;
    /* Cantos arredondados */
}

/* Estilo do cabeçalho */
header {
    background-color: #012df1;
    /* Cor de fundo */
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0;
    /* Cantos arredondados no topo */
}

/* Estilo do título */
h1 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    /* Cor do texto */
}

/* Estilo do conteúdo principal */
main {
    padding: 24px;
}

/* Estilo dos rótulos */
label {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    /* Cor do texto */
}

/* Estilo dos campos de seleção */
select {
    background: #FfFfFf;
    /* Cor de fundo */
    border-radius: 4% 0px 0px 0px;
    /* Bordas arredondadas */
    border: 1px solid #BBBBBB;
    /* Borda */
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* Sombra */
    margin-top: 6px;
    margin-bottom: 24px;
}

/* Estilo dos campos de entrada */
input {
    background: #FfFfFf;
    /* Cor de fundo */
    border-radius: 4% 0px 0px 0px;
    /* Bordas arredondadas */
    border: 1px solid #ffffff;
    /* Borda */
    height: 48px;
    display: block;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

/* Estilo dos botões */
button {
    background-color: #012df1;
    /* Cor de fundo */
    border-radius: 25px;
    /* Cantos arredondados */
    height: 48px;
    color: #ffffff;
    /* Cor do texto */
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 36px;
}

/* Estilo do botão ao passar o mouse */
button:hover {
    opacity: 0.8;
    /* Efeito de transparência */
}

/* Estilo do botão ao clicar */
button:active {
    opacity: 0.5;
    /* Efeito de transparência */
}

/* Estilo da seção que contém os resultados */
section {
    border: 1px solid #012df1;
    /* Borda */
    border-radius: 4px;
    /* Bordas arredondadas */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Estilo das divs com bandeiras */
.bandeiras1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

/* Estilo dos textos das moedas */
.texto {
    font-size: 14px;
    font-weight: 400;
    color: #012df1;
    /* Cor do texto */
}

/* Estilo dos valores das moedas */
.dindin {
    color: #012df1;
    /* Cor do texto */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}