/* Reseta margens e preenchimentos, define box-sizing e fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

/* Estilo geral do corpo da página */
body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do contêiner principal */
.conteundo {
    width: 100%;
    max-width: 375px;
    background-color: #007a37;
    border-radius: 25px;
}

/* Estilo do cabeçalho */
header {
    background-color: #012df1;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0;
}

/* Estilo do título */
h1 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

/* Estilo do conteúdo principal */
main {
    padding: 24px;
}

/* Estilo dos rótulos */
label {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}

/* Estilo dos campos de seleção */
select {
    background: #FfFfFf;
    border-radius: 4% 0px 0px 0px;
    border: 1px solid #BBBBBB;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 6px;
    margin-bottom: 24px;
}

/* Estilo dos campos de entrada */
input {
    background: #FfFfFf;
    border-radius: 4% 0px 0px 0px;
    border: 1px solid #ffffff;
    height: 48px;
    display: block;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

/* Estilo dos botões */
button {
    background-color: #012df1;
    border-radius: 25px;
    height: 48px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

/* Estilo da seção que contém os resultados */
section {
    border: 1px solid #012df1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Estilo das divs com bandeiras */
.bandeiras1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

/* Estilo dos textos das moedas */
.texto {
    font-size: 14px;
    font-weight: 400;
    color: #012df1;
}

/* Estilo dos valores das moedas */
.dindin {
    color: #012df1;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}

/* Media query para iPhone 15 Pro */
@media screen and (max-width: 430px) {
    .conteundo {
        padding: 10px;
        border-radius: 15px;
    }

    h1 {
        font-size: 20px;
    }

    select, input, button {
        height: 40px;
        font-size: 14px;
    }

    section {
        gap: 10px;
    }

    .dindin {
        font-size: 18px;
    }
}