/* Reseta margens e preenchimentos, define box-sizing e fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

/* Estilo geral do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: rgb(1,81,120);
background: radial-gradient(circle, rgba(1,81,120,1) 0%, rgba(0,0,0,1) 100%);
}
    /* Centraliza verticalmente */


/* Estilo do contêiner principal */
.container {
    

    width: 375px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, #080053 0%, #02678f 100%);
    border-radius: 25px;

header {
    display: grid;
    place-items: center;
    background:linear-gradient(30deg, #0400ff, #4be2f7);
    height: 66px;
    width: 100%;
    border-radius: 25px 25px 0 0;
}

/* Estilo do título */
h1 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    /* Cor do texto */
}}

/* Estilo do conteúdo principal */
main {
    padding: 24px;
}

/* Estilo dos rótulos */
label {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    /* Cor do texto */
}

/* Estilo dos campos de seleção */
select {
    background: #FfFfFf;
    /* Cor de fundo */
    border-radius: 4% 0px 0px 0px;
    /* Bordas arredondadas */
    border: 1px solid #BBBBBB;
    /* Borda */
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* Sombra */
    margin-top: 6px;
    margin-bottom: 24px;
}

/* Estilo dos campos de entrada */
input {
    background: #FfFfFf;
    /* Cor de fundo */
    border-radius: 4% 0px 0px 0px;
    /* Bordas arredondadas */
    border: 1px solid #ffffff;
    /* Borda */
    height: 48px;
    display: block;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

/* Estilo dos botões */
button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin-top:25px;
    margin-bottom: 36px;
    font-weight: 700;
    width: 100%;
    height: 48px;
    cursor: pointer;
   }

   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 5.5s infinite;
   }
   button:active {
     opacity: 0.5;
   }
   
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

/* Estilo da seção que contém os resultados */
section {
    border: 1px solid #4be2f7;
    /* Borda */
    border-radius: 4px;
    /* Bordas arredondadas */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 5.5s infinite;
}

/* Estilo das divs com bandeiras */
.bandeiras1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

/* Estilo dos textos das moedas */
.texto {
    font-size: 14px;
    font-weight: 400;
    color: #4be2f7;
    /* Cor do texto */
}

/* Estilo dos valores das moedas */
.dindin {
    color: #4be2f7;
    /* Cor do texto */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}
.linkedin-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease; 
    
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7446%) hue-rotate(332deg) brightness(117%) contrast(117%);
}

.linkedin-icon:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho */
    cursor: pointer; /* Mostra que é clicável */
}
.footer{
    width: 375px;
    display: flex
;
    /* align-content: center; */
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}